@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a class="text-xl bg-blue" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="container mx-auto text-center my-8">
        <h1 class="text-4xl font-bold text-blue-600">Welcome to MyTailwindApp!</h1>
        <p class="mt-4 text-lg text-gray-700">This is an ASP.NET Core MVC app with Tailwind CSS v4.</p>
    </div>
</div>
